@RenderPage("~/Layout/_Header.cshtml")
@RenderPage("~/Layout/_StudentsMenu.cshtml")
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- /.row -->
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
@RenderPage("~/Layout/_Footer.cshtml")
