@{
    Layout = "~/_StudentsLayout.cshtml";
    Page.Title = "Studenten";


    if(!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Account/Login");
    }
}
<h1 class="studentnaam"></h1>
<hr>
<div class="row" >
   <div class="adres col-md-8">
    <span class="etiketregel1 brspan"></span>
        <span class="etiketregel2 brspan"></span>
 </div>
   <div class="postcode col-md-8">
</div>

  <div class="blue col-md-4">
    
  </div>
</div>