@{
    Layout = "~/_StudentsLayout.cshtml";
    Page.Title = "Studenten";


    if(!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Account/Login");
    }
}

<div id="PageContent">
      <div class="adres col-md-12">
<h1 class="studentnaam"></h1>
      </div>
<hr>
<div class="row" >
   <div class="adres col-md-8">
    <span class="etiketregel1 brspan"></span>
        <span class="etiketregel2 brspan"></span>
 </div>
   <div class="postcode col-md-8">
</div>

  <div class="blue col-md-4">
    
  </div>
</div>

</div>



<!--
    [groep]
    [mentor]
    [studentnummer]]
    [roepnaam]
    [voorvoegsels]
    [naam]
    [geslacht]
    [geboortedatum]
    [vooropleiding]
    [emailprive] 
    [emailinstelling] 
    [adrestype]
    [etiketnaam] 
    [etiketregel1]
    [etiketregel2]
    [telefoonnummer]
    [telefoonnummermobiel]
    [herinschrijving]
    [opleiding] 
    [fase] 
    [datumvan]
    [datumtot]
    [aankomst_bij_isatcode]
    [aanmeldingdatum] 
    [datumdefinitief]
-->
