@{
    Layout = "~/_StudentsLayout.cshtml";
    Page.Title = "Studenten";


    if(!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Account/Login");
    }
}
<h1 class="StudentName"></h1>