@{
    Layout = "~/_StudentsLayout.cshtml";
    Page.Title = "Studenten";


    if(!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Account/Login");
    }
}

<div id="PageContent">
    <div id="StudentContent" class="animated">
            <div class="row">
                <div class="AbsoluteHeight col-md-12">
                    <h1 class="etiketnaam"></h1>
                    <hr>
                </div>
                <div class="col-md-6 col-md-push-6">


                  
                    <button class="AddImage"><img alt="StudentPicture" class="studentImage" src="~/images/thumb.png"></img></button> 
                    <input type="file" accept="image/*;capture=camera">
                    <div class="clear"></div>



                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div id="StudentNAW">
                    <h3>Student:</h3>
                    <table> 
	                    <tbody>
		                    <tr><td>Voornaam: </td><td class="value"><span class="roepnaam"></span></td></tr>
		                    <tr><td>Tussenvoegsel: </td><td class="value"><span class="voorvoegsels"></span></td></tr>
		                    <tr><td>Achternaam: </td><td class="value"><span class="naam"></span></td></tr>
		                    <tr><td>Geboortedatum: </td><td class="value"><span class="geboortedatum"></span></td></tr>
		                    <tr><td>Geslacht: </td><td class="value"><span class="geslacht"></span></td></tr>
		                    <tr><td>Studentnummer: </td><td class="value"><span class="studentnummer"></span></td></tr>
	                    </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div id="StudentOpleiding">
                        <h3>Opleiding:</h3>
                        <table> 
	                        <tbody>
		                        <tr>
                                <td>Opleiding: </td><td class="value"><span class="opleiding"></span></td></tr>
		                        <tr><td>Slb'er: </td><td class="value"><span class="mentor"></span> </td></tr>
		                        <tr><td>Klas: </td><td class="value"><span class="groep"></span> </td></tr>
		                        <tr><td>Fase: </td><td class="value"><span class="fase"></span></td></tr>
		                        
                                <tr><td>Startdatum: </td> <td class="value"><span class="datumvan"></span></td></tr>
                                <tr><td>Einddatum: </td>  <td class="value"><span class="datumtot"></span></td></tr>
		                        
                                <tr><td>Aanmeldingsdatum bij Isatcode: </td><td class="value"><span class="aankomst_bij_isatcode"></span></td></tr>
		                        <tr><td>Aanmeldingsdatum: </td><td class="value"><span class="aanmeldingdatum"></span></td></tr>
		                        <tr><td>Datum definitief: </td><td class="value"><span class="datumdefinitief"></span></td></tr>
	                        </tbody>
                        </table>
                    </div>
                    </div>
                      <div class="col-md-6">
                        <div id="StudentContactGegevens">
                            <h3>Contactgegevens:</h3>
                            <table> 
	                            <tbody>
		                            <tr><td>Straat + Huisnummer: </td><td class="value"><span class="etiketregel1"></span></td></tr>
		                            <tr><td>Postcode + Woonplaats: </td><td class="value"><span class="etiketregel2"></span></td></tr>
		                            <tr><td>Email school: </td><td class="value"><span class="emailinstelling"></span></td></tr>
		                            <tr><td>Email Privé: </td><td class="value"><span class="emailprive"></span></td></tr>
		                            <tr><td>Telefoonnummer: </td><td class="value"><span class="telefoonnummer"></span></td></tr>
		                            <tr><td>Mobiel: </td><td class="value"><span class="telefoonnummermobiel"></span></td></tr>
	                            </tbody>
                            </table>
                       </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                      <div class="col-md-6">
                        <div id="StudentVooropleiding">
                            <h3>Opleidinghistorie:</h3>
                            <table> 
	                            <tbody>
		                            <tr><td>Voorgaande opleiding: </td><td class="value"><span class="vooropleiding"></span></td></tr>
		                        </tbody>
                            </table>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    
    
    
  
    
    
    
     

   

    
    
    

    
    

