@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
*{    
    font-family: 'Roboto', sans-serif;   
    
}

body{
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}

#content{
    padding: 20px;
}

#customForm{
    width: 100%;
    max-width: 400px;
}

.page-header{
    font-size: 2em!important;
    font-weight: 200;
}

#NoResults{
    width: 200px;
    margin: 20px auto;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.container-fluid-homepage{
    height: 90vh !important;
    overflow-y: scroll !important;
}

#SearchResultContainer{
    height: 87vh;
    /*height: 88vh;*/
    overflow-y: scroll;
    display: block;

}
ul#StudentResultList{
 padding: 0;
}

ul#StudentResultList li:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

ul#StudentResultList li{
    list-style-type: none;
    padding: 25px 0px;
    text-indent: 20px;;
}

.input-group{
        display: -webkit-box!important;
}
.nhlLogo{
    opacity: 0.2;
    position: absolute;
    right: 60px;
    width: auto;
    height: 25%;
    bottom: 0;
}

.StudentItemText{
    margin-left: 20px;
    font-size: 1em;
}

.ThumbStudentIMage{
    width: 50px;
    height: auto;
}
#NoImageID {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}

#PageContent{
    
   
}
.arrow{
    width: 500px;
    position: fixed;
    top: 40px;
    left: 310px;
    opacity: 0.2;
}
.field-validation-error{
    color: red!important;
    padding: 5px 0px 0px;
}
#preContent{
    margin: 250px auto;
    width: 90%;
}
.preTitle{
    font-size: 5em;
    vertical-align: central;
    color: rgb(204, 229, 255);
    text-align:center;
    font-weight: 300;
}
#PageContent{
   margin-top: 30px;
}

/* Student overzicht pagina css*/
.row{
   
}
.studentImage{
    float: right;
}

HOnestudentnaam{
    color: #808080;
}
#StudentContent{
    display: none;
    width: 90%;
    margin: auto;
    color: #808080;
    font-weight: 400;
    z-index: -200;
    margin-bottom: 100px;
}
#StudentContent h3{
    font-weight: 300;
    color: rgb(0, 171, 255);
}
#StudentNAW{
    
}
.VolledigeNaam{
    font-weight: 200;
}
.AbsoluteHeight{
    height: 100px;
}
#StudentVooropleiding{
    height: 150px;
}
#StudentContactGegevens{
}
#StudentOpleiding{

}
.value{
    text-indent: 20px;
}
.LowError{
    color: #E29A9A;
}
.sidebar{
    z-index: 200;
}
.clear{
    clear: both;   
}
.closeOverlay{
    height:150px!important;
    width: 150px!important;
    padding: 35px 52px!important;
    background-color: #359BB9!important
    
}

.hiddenfile {
 width: 0px;
 height: 0px;
 overflow: hidden;
}


.closeOverlay:hover{
    background-color: white!important;
}
@media(max-width: 570px){
 .preTitle{
    font-size:1.6em;
    }
}
@media(max-width: 790px){
  .arrow{
    display:none;
    }
}
@media(max-width: 999px){
   .studentImage{
    float: none;
    }
    .nhlLogo{
        display:none;
    }

        .container-fluid-homepage{
            height:100% !important;
            overflow-y: auto !important;
        }

    .studentImage{
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding:0px;
        margin:0px;
        
    }
    .StudentImageHolder{
        width:100%;
    }

    
}
@media(max-width:768px) {
    .navbar-top-links .dropdown-user{
        left: 0px!important;
    }
     .container-fluid-homepage{
        height:100% !important;
        overflow-y: auto !important;
    }
}

.clear{
    clear: both;
}

.modal-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 5%;
  width:90%;
  
}
.modal-content {
  min-height:100%;
  top:0;
  bottom:0;
  left:0;
  right:0; 
}
.modal-body {
  right:0;
  overflow-y:auto;
}
.modal-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

/* SECTION DASHBOARD (ADMIN)*/
#dashboardFirstPanel{
    width: 40%;
    margin-right: 10%;
    float: left;
    display: block;
    min-width: 300px;
}

#dashboardSecondPanel{
    width: 40%;
    float: left;
    display: block;
}
/*Pagination*/
.paginate_button {
   
    
    color: #fff;
    cursor: default;
    border-color: #337ab7;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    list-style-type: none;
    border: 1px solid #ddd;  
    
     
}

.VerwijderAlles{
    float: right;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}


.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.btn-circle.btn-xl {
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    border-radius: 147px;
    font-size: 60px;
    line-height: 1.33;
    border: none;
}

.modal-content {
    -webkit-box-shadow: none;
    box-shadow:none;
}
.modal-content {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    -webkit-box-shadow: none; 
    box-shadow: none;
}
.aqua{
    background-color: aqua;
}
.orange{
    background-color: darkorange;
}
.crim{
    background-color: crimson;   
}
.padding{
    padding: 50px;
}
.iconTextStyling{
    font-size: 25px;
    text-align: center;
    vertical-align: text-top;
}
.glyphicon{
    top: 25px;
}

.FileBasterd{
    font-size:10px;
}

/*SCROLLBAR*/   
.blueScrollBar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.blueScrollBar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.blueScrollBar::-webkit-scrollbar-thumb
{
	background-color: #337ab7;
}

/*Dashboard content*/
.DashboardContent {
    
    width: 90%;
    margin: auto;
    color: #808080;
    font-weight: 400;
    z-index: -200;
    margin-bottom: 100px;
}

#fb-root {
  display: none;
}

/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

.timeline-Widget{
    max-width: 100%!important;
}

.twitter-timeline{
    max-width: 100%!important;
}

iframe[id^='twitter-widget-']{ 
    width:100% !important;
    
}

.navbar-static-top{
    background-color: #313030;
}
.navbar-brand{
    color: rgb(50, 115, 170)!important;
}
/* Upload image dialog */
.uploadimage-dragndrop { border: 2px dashed #DDD; margin: 20px 0; padding: 50px 20px; text-align: center; color: #DDD; }
.uploadimage-text { font-size: 32px; margin-bottom: 20px; }
.uploadimage-input { margin: 20px 0; }
.uploadimage-upload { background: #EEE; margin: 4px 0; }
.uploadimage-uploadcompleted { background: #d1f4ac; }
.uploadimage-fileinfo { padding: 5px; font-size: 11px; position: relative; }
.uploadimage-progresspct { position: absolute; top: 5px; right: 5px; }
.uploadimage-progress { background: #999; }
.uploadimage-progressbar { background: maroon; height: 2px; }
.uploadimage-totalprogress { background: #999; }
.uploadimage-totalprogressbar { background: #107EC2; height: 6px; }

.description { margin: 40px 0; }

.NextStudent{
    float: right;
    background-color: rgba(136, 141, 156, 0.42);
    padding: 20px;
}
.PrevStudent{
    background-color: rgba(136, 141, 156, 0.42);
    padding: 20px;
    float: left;
}
.EditStudentHome{
    width: 80%;
}

.btn-success {
    font-size: 25px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.VerwijderAlles{
    position: relative;
    background-color: red;
    border: none;
    font-size: 13px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
}
.VerwijderAlles:after{
     content: "";
    background: #0872DF;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.VerwijderAlles:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.menuNoTop{
    top: 0px !important;
}

.StudentPicture{
    
    width: 400px;
    height: 400px;
    background-color: blue;
    margin-bottom: 50px;
    
}
#imgCropHolder{
     width: 400px;
     height: 400px;
     margin: auto;   
     position:relative; /* or fixed or absolute */
}
.ReplacePicture{
    display: block;
    background-color: rgba(234, 234, 234, 0.2);
    
}

.MoveEditPhoto{
    
}

.modal-body{
  overflow: hidden !important;
    
}

.cropControls{
    left: 0;
}