@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
*{    
    font-family: 'Roboto', sans-serif;   
    
}

body{
    font-family: 'Roboto', sans-serif;
}

#content{
    padding: 20px;
}

#customForm{
    width: 100%;
    max-width: 400px;
}

.page-header{
    font-size: 2em!important;
    font-weight: 200;
}

#NoResults{
    width: 200px;
    margin: 20px auto;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.container-fluid-homepage{
    height: 90vh !important;
    overflow-y: scroll !important;
}

#SearchResultContainer{
    height: 87vh;
    /*height: 88vh;*/
    overflow-y: scroll;
    display: block;

}
ul#StudentResultList{
 padding: 0;
}

ul#StudentResultList li:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

ul#StudentResultList li{
    list-style-type: none;
    padding: 25px 0px;
    text-indent: 20px;;
}

.input-group{
        display: -webkit-box!important;
}
.nhlLogo{
    opacity: 0.2;
    position: absolute;
    right: 60px;
    width: auto;
    height: 25%;
    bottom: 0;
}

.StudentItemText{
    margin-left: 20px;
    font-size: 1em;
}

.ThumbStudentIMage{
    width: 50px;
    height: auto;
}
#NoImageID {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}

#PageContent{
    
   
}
.arrow{
    width: 500px;
    position: fixed;
    top: 40px;
    left: 310px;
    opacity: 0.2;
}
.field-validation-error{
    color: red!important;
    padding: 5px 0px 0px;
}
#preContent{
    margin: 250px auto;
    width: 90%;
}
.preTitle{
    font-size: 5em;
    vertical-align: central;
    color: rgb(204, 229, 255);
    text-align:center;
    font-weight: 300;
}
#PageContent{
   margin-top: 30px;
}

/* Student overzicht pagina css*/
.row{
   
}
.studentImage{
    float: right;
}

HOnestudentnaam{
    color: #808080;
}
#StudentContent{
    display: none;
    width: 90%;
    margin: auto;
    color: #808080;
    font-weight: 400;
    z-index: -200;
    margin-bottom: 100px;
}
#StudentContent h3{
    font-weight: 300;
    color: rgb(0, 171, 255);
}
#StudentNAW{
    
}
.VolledigeNaam{
    font-weight: 200;
}
.AbsoluteHeight{
    height: 100px;
}
#StudentVooropleiding{
    height: 200px;
}
#StudentContactGegevens{
}
#StudentOpleiding{

}

.value{
    text-indent: 20px;
}
.LowError{
    color: #E29A9A;
}
.sidebar{
    z-index: 200;
}
.clear{
    clear: both;   
}

@media(max-width: 990px){
   .studentImage{
    float: none;
    
    }

    .container-fluid-homepage{
        height:100% !important;
        overflow-y: auto !important;
    }
}
@media(max-width:768px) {
    .navbar-top-links .dropdown-user{
        left: 0px!important;
    }
     .container-fluid-homepage{
        height:100% !important;
        overflow-y: auto !important;
    }
}

.clear{
    clear: both;
}

.modal-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 5%;
  width:90%;
  
}
.modal-content {
  min-height:100%;
  top:0;
  bottom:0;
  left:0;
  right:0; 
}
.modal-body {
  right:0;
  overflow-y:auto;
}
.modal-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

/* SECTION DASHBOARD (ADMIN)*/
#dashboardFirstPanel{
    width: 40%;
    margin-right: 10%;
    float: left;
    display: block;
    min-width: 300px;
}

#dashboardSecondPanel{
    width: 40%;
    float: left;
    display: block;
}


.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.btn-circle.btn-xl {
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    border-radius: 147px;
    font-size: 60px;
    line-height: 1.33;
}

.modal-content {
    -webkit-box-shadow: none;
    box-shadow:none;
}
.modal-content {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    -webkit-box-shadow: none; 
    box-shadow: none;
}
.aqua{
    background-color: aqua;
}
.orange{
    background-color: darkorange;
}
.crim{
    background-color: crimson;   
}
.padding{
    padding: 50px;
}
.iconTextStyling{
    font-size: 25px;
    text-align: center;
    vertical-align: text-top;
}
.glyphicon{
    top: 25px;
}

.FileBasterd{
    font-size:10px;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}