@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Edit student";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
