@{
    
}

 <!-- jQuery -->
    <script src="~/Content/themes/base/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
    <script src="~/Content/themes/base/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
    <script src="~/Content/themes/base/dist/js/sb-admin-2.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/themes/base/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    

    
    
    <!-- Table JavaScript -->
    <script src="~/Scripts/Table.js"></script>

    <!-- StudentenOverzichtJS JavaScript -->
    <script src="~/Scripts/SOScript.js"></script>

    <script src="~/Content/bootstrapValidation/dist/js/bootstrapValidator.js"></script>
    <script src="~/Scripts/Validatie.js"></script>


</body>

</html>
