@{
    Layout = "~/_LoginLayout.cshtml";
    Page.Title = "Activatie pagina";

    string message = "";
    var confirmationToken = Request["confirmationCode"];

    WebSecurity.Logout();
    if (!confirmationToken.IsEmpty()) {
        if (WebSecurity.ConfirmAccount(confirmationToken)) {
            message = "Activatie gelukt! u wordt binnen 5 sec. doorgestuurd.";
            Response.AddHeader("REFRESH","5;URL=Login");
        } else {
            message = "Activatie mislukt neem contact op met de beheerder.";
        }
    }
}

<hgroup class="title">
    <legend><h2>Account activatie</h2></legend>
</hgroup>

@if (!message.IsEmpty()) {
    <p>@message</p>
} else {
    <form method="post">
        <fieldset>
            <legend>Confirmation Code</legend>
            <ol>
                <li>
                    <label for="confirmationCode">Confirmation code</label>
                    <input type="text" id="confirmationCode" name="confirmationCode" />
                </li>
            </ol>
            <input type="submit" value="Confirm" />
        </fieldset>
    </form>
}