@{
    Layout = "~/_LoginLayout.cshtml";
    Page.Title = "Registration Confirmation Page";

    string message = "";
    var confirmationToken = Request["confirmationCode"];

    WebSecurity.Logout();
    if (!confirmationToken.IsEmpty()) {
        if (WebSecurity.ConfirmAccount(confirmationToken)) {
            message = "Registratie gelukt! u wordt in 5 sec. doorgestuurd.";
            Response.AddHeader("REFRESH","5;URL=Login");
        } else {
            message = "Could not confirm your registration info.";
        }
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Account activatie</h2>
</hgroup>

@if (!message.IsEmpty()) {
    <p>@message</p>
} else {
    <form method="post">
        <fieldset>
            <legend>Confirmation Code</legend>
            <ol>
                <li>
                    <label for="confirmationCode">Confirmation code</label>
                    <input type="text" id="confirmationCode" name="confirmationCode" />
                </li>
            </ol>
            <input type="submit" value="Confirm" />
        </fieldset>
    </form>
}