@{
        Layout = "~/_MainLayout.cshtml";
        Page.Title = "Dashboard";

        var db = Database.Open("database");
        var getAllUsers = db.Query("SELECT RoleId, COUNT(RoleId) as count FROM webpages_UsersInRoles GROUP BY RoleId");
        var getAllStudents = db.Query("SELECT id FROM students");

        var numUsers = 0;
        var numAdmin = 0;
        var numStudents = getAllStudents.Count();
        

        foreach(var k in getAllUsers){
            if(k.RoleId == 2){
                numUsers = k.count;
            }
             if(k.RoleId == 1){
                numAdmin = k.count;
            }
        }

        var allUsers = numUsers + numAdmin + numStudents;

        var perStudents = (numStudents / allUsers) * 100;
}

<div class="jumbotron">
    @allUsers

  <div class="panel panel-default" id="dashboardFirstPanel">
      <div class="panel-body">
        <div class="progressContainer">
            <span class="progresSpan">@numStudents Studenten in het systeem </span>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                
              </div>
            </div>
        </div>

        <div class="progressContainer">
            <span class="progresSpan">@numUsers Beheerders in het systeem </span>
            <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
               
              </div>
            </div>
        </div>

        <div class="progressContainer">
            <span class="progresSpan">@numAdmin Administrator in het systeem </span>
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                
              </div>
            </div>
        </div>
      </div>
    </div>

<div class="panel panel-default" id="dashboardSecondPanel">
  <div class="panel-body">
    Basic panel example
  </div>
</div>
    <div class="clear"></div>
</div>

